.contactanosintro {
        margin: 5rem;
    
        article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
    
        h3 {
            margin: 3rem 0 2rem;
            padding-top: 2rem;
        }
    
        img {
            height: 300px;
            width: 400px;
            margin-left: 30%;
        }
        p {
            padding-top: 2rem;
            text-align: justify;
            padding-bottom: 10px;
        }
}
.formContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
    padding: 2rem;
    input {
        margin: 1rem 0;
    }

    legend {
        font-family: $titulo;
    }

    form {
        background-color: $fondo;
    }

    fieldset {
       padding: 2rem 4rem;
    }
}
.sumatealequipo {
    margin: 5rem;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    padding-top: 1rem;

    h3 {
        margin: 2rem;
        padding-bottom: 3rem;
    }

    span {
        margin: 2rem 0;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    img {
        height: 300px;
        width: 500px;
    }
    p {
        text-align: justify;
    }
}
@media only screen and (max-width:600px) {
    .contactanosintro {
        margin: 2rem;

        article {
            grid-template-columns: 1fr;
        }
        h3 {
            margin: 2rem;
        }
        p {
            padding-top: 1rem;
        }
        img {
            width: 250px;
            height: 200px;
            margin-left: 0;
            padding-top: 2rem;
            display: block;
            margin: auto;
        }
    }
    .formContacto {
        grid-template-columns: 1fr;
        margin: 0 0 3rem 0;
        padding: 0;

        input {
            margin: 0.5rem;
        }
        fieldset {
            padding: 0;
        }
    }
    .sumatealequipo {
        margin: 1rem;
        margin-bottom: 50px;
        grid-template-columns: 1fr;

        h3 {
            padding-bottom: 1rem;
        }

        img {
            padding-top: 2rem;
            height: 200px;
            width: 250px;
            display: block;
            margin: auto;
        }
    }
}
/* tablets */
@media only screen and (min-width:601px) and (max-width:900px) {

    .contactanosintro {
        margin: 2rem;

        article {
            grid-template-columns: 1fr;
        }
        h3 {
            margin: 2rem;
        }
        p {
            padding-top: 1rem;
        }
        img {
            width: 350px;
            height: 300px;
            margin-left: 0;
            padding-top: 2rem;
            display: block;
            margin: auto;
        }
    }
    .sumatealequipo {
        margin: 2rem;
        margin-bottom: 50px;
        grid-template-columns: 1fr;

        h3 {
            padding-bottom: 1rem;
        }

        img {
            padding-top: 2rem;
            height: 250px;
            width: 350px;
            display: block;
            margin: auto;
        }

        span {
            padding-left: 1rem;
        }
    }
}