.introduccion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3em;
    grid-column-gap: 2em;

    img {
        width: 500px;
        height: 300px;
        margin: 0;
        padding-right: 0;
        padding-left: 150px;
    }

    p {
        text-align: justify;
        padding: 4rem;
    }
}
.productorseguro {
    margin: 3em;
    padding: 2rem 0;

    h3 {
        margin: 2em;
    }
    p {
        margin: 0 2em 4em 4em;
        text-align: justify;
        padding-right: 2em;
    }
}
.videoYt {
    align-self: center;
    margin-left: 150px;
    width: 80%;
    height: 600px; 
}
.formacion {
    margin: 5rem;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    padding-top: 1rem;

    h3 {
        margin: 3rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    span {
        margin: 3rem 0 3rem 3rem;
        padding-right: 2rem;
    }
    img {
        height: 300px;
        width: 500px;
    }
    p {
        text-align: justify;
    }
}
@media only screen and (max-width:500px) {
.introduccion {
    margin: 1rem;
    grid-template-columns: 1fr;

    p {
        padding: 1rem;
    }
    img {
        display: block;
        margin: auto;
        padding-left: 0;
        height: 200px;
        width: 350px;
    }
}
.productorseguro {
    margin: 1rem;
    padding: 2rem 0;
}
.videoYt {
    margin-left: 4rem;
    height: 400px;
}
.formacion {
    margin: 2rem;
    grid-template-columns: 1fr;

    h3 {
        margin: 2rem;
        padding-bottom: 1rem;
    }
    img {
        height: 200px;
        width: 400px;
    }
    span {
        margin: 2rem 0
    }
}
}    