.introtiposeguros {
    margin: 4rem 0 3rem 2rem;

    h3 {
        padding: 1rem;
    }

    p {
        margin: 3rem 0 5rem 2rem;
    }
}
.tiposseguros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
    margin-top: 50px;

    img {
        width: 200px;
        height: auto;
        display: block;
        margin: auto;
    }

    p {
        padding-top: 1rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

}
.textoHover {
    position: relative;
    width: 100%;
}
.textoHover:hover .overlay{
    opacity:0.8;
}
.overlay {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    transition: .5s ease;
    background-color: #A98CDA;

    li {
        color: white;
        font-size: 20px;
        position: relative;
        text-align: center;
        padding-top: 15px;
        list-style: none;
        opacity: 1;
    }
    p {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
  }
.mascoberturas {
    margin: 2rem;

    h3 {
        padding: 2rem 0;
    }

    p {
        padding: 1rem;
        text-align: justify;
    }

    span {
        padding: 1rem;
        text-align: justify;
    }
}
.mascoberturas__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 100px;

    img {
        height: 300px;
        width: 400px;
        display: block;
        margin: auto;
    }
}
.zoom {
    transition: transform .2s;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
@media only screen and (max-width:500px) {
    .introtiposeguros {
        margin: 2rem;
    }
    .tiposseguros {
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;

        img {
            width: 150px;
        }
    }
    .mascoberturas__grid {
        grid-template-columns: 1fr;

        img {
            padding-top: 3rem;
        }
    }
}