* {
  margin: 0;
  padding: 0;
}

.tituloIndex {
  margin: 5rem 0;
  text-align: center;
}

.tituloIndex h1 {
  font-family: "Yeseva One", cursive;
  font-size: 3rem;
}

.tituloIndex h2 {
  font-family: "WindSong", cursive;
}

h3 {
  font-family: "Yeseva One", cursive;
  margin: 1rem;
}

.mapa {
  margin: 3rem 0 1rem 4rem;
}

.mapa div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.mapa p {
  text-align: justify;
  padding-right: 3rem;
  padding-top: 2rem;
}

.mapa h3 {
  padding-top: 5rem;
}

.opiniones {
  margin: 4rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.opiniones article {
  padding: 1rem;
  background-color: #E2EAFC;
}

.opiniones h4 {
  font-family: "Yeseva One", cursive;
  text-align: center;
  padding-top: 1rem;
}

.opiniones p {
  padding: 1rem;
  text-align: justify;
}

.estrellita {
  margin: 0 38%;
  color: grey;
  opacity: 80%;
}

.divisor {
  width: 200px;
  display: block;
  margin: auto;
}

.experienciaRubro {
  margin: 2rem;
}

.experienciaRubro h3 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

.experienciaRubro p {
  padding: 1rem 2rem;
  text-align: justify;
}

footer {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(35%, rgba(226, 234, 252, 0.925105)), to(#abc4ff));
  background: linear-gradient(180deg, white 0%, rgba(226, 234, 252, 0.925105) 35%, #abc4ff 100%);
  padding: 2rem;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

footer section {
  padding-top: 2rem;
}

footer span {
  font-size: 15px;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 15px;
}

.horarios p {
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .mapa {
    margin: 2rem 0;
  }
  .mapa div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mapa p {
    padding-right: 1rem;
  }
  .mapagoogle {
    width: 300px;
  }
  .opiniones {
    margin: 2rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .datossasha {
    display: none;
  }
}

.banner__quienesSomos {
  width: 100%;
  height: 300px;
  background-image: url(https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_auto,w_iw,c_fill,g_face,ar_16:9/v1612256805/01%20-%20Studiengaenge/01%20-%20Bachelor/Wirtschaftspsychologie/2101-kv-wirtschaftspsychologie_sstcey.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
}

.banner__quienesSomos h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px black;
}

.banner__quienesSomos h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
  text-shadow: 1px 1px 2px black;
}

.introduccion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 3em;
  grid-column-gap: 2em;
}

.introduccion img {
  width: 500px;
  height: 300px;
  margin: 0;
  padding-right: 0;
  padding-left: 150px;
}

.introduccion p {
  text-align: justify;
  padding: 4rem;
}

.productorseguro {
  margin: 3em;
  padding: 2rem 0;
}

.productorseguro h3 {
  margin: 2em;
}

.productorseguro p {
  margin: 0 2em 4em 4em;
  text-align: justify;
  padding-right: 2em;
}

.videoYt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 150px;
  width: 80%;
  height: 600px;
}

.formacion {
  margin: 5rem;
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
}

.formacion h3 {
  margin: 3rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.formacion span {
  margin: 3rem 0 3rem 3rem;
  padding-right: 2rem;
}

.formacion img {
  height: 300px;
  width: 500px;
}

.formacion p {
  text-align: justify;
}

@media only screen and (max-width: 500px) {
  .introduccion {
    margin: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .introduccion p {
    padding: 1rem;
  }
  .introduccion img {
    display: block;
    margin: auto;
    padding-left: 0;
    height: 200px;
    width: 350px;
  }
  .productorseguro {
    margin: 1rem;
    padding: 2rem 0;
  }
  .videoYt {
    margin-left: 4rem;
    height: 400px;
  }
  .formacion {
    margin: 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .formacion h3 {
    margin: 2rem;
    padding-bottom: 1rem;
  }
  .formacion img {
    height: 200px;
    width: 400px;
  }
  .formacion span {
    margin: 2rem 0;
  }
}

.banner__companias {
  width: 100%;
  height: 300px;
  background-image: url(https://www.tfilo.com.tr/images/istock/9.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
}

.banner__companias h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px black;
}

.banner__companias h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
}

.companias1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-bottom: 2rem;
  margin-top: 50px;
}

.companias1 img {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

.companias1 p {
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.promo1 {
  margin: 5rem;
}

.promo1 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.promo1 h3 {
  margin: 3rem 0;
  padding-top: 2rem;
}

.promo1 img {
  height: 300px;
  width: 400px;
  margin-left: 10%;
}

.promo1 p {
  padding-top: 3rem;
  text-align: justify;
}

.promo2 {
  margin: 5rem;
  padding-bottom: 100px;
}

.promo2 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.promo2 h3 {
  margin: 2rem 0;
  padding-top: 2rem;
}

.promo2 img {
  height: 300px;
  width: 350px;
  display: block;
  margin: auto;
}

.promo2 p {
  padding-top: 3rem;
  text-align: justify;
}

@media only screen and (max-width: 500px) {
  .companias1 img {
    width: 150px;
  }
  .promo1 {
    margin: 2rem;
  }
  .promo1 div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .promo1 img {
    margin-left: 0;
    height: 250px;
    width: 350px;
  }
  .promo2 {
    margin: 2rem;
    padding-bottom: 50px;
  }
  .promo2 div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .promo2 img {
    height: 250px;
    width: 250px;
  }
}

.banner__contacto {
  width: 100%;
  height: 300px;
  background-image: url(https://cdn.bostondigital.com/sites/default/files/GettyImages-1088347818.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
}

.banner__contacto h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px black;
}

.banner__contacto h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
  text-shadow: 1px 1px 2px black;
}

.contactanosintro {
  margin: 5rem;
}

.contactanosintro div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contactanosintro h3 {
  margin: 3rem 0;
  padding-top: 2rem;
}

.contactanosintro img {
  height: 300px;
  width: 400px;
  margin-left: 30%;
}

.contactanosintro p {
  padding-top: 3rem;
  text-align: justify;
}

.formContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 3rem;
  padding: 2rem;
}

.formContacto input {
  margin: 1rem 0;
}

.formContacto legend {
  font-family: "Yeseva One", cursive;
}

.formContacto form {
  background-color: #E2EAFC;
}

.formContacto fieldset {
  padding: 2rem 4rem;
}

.sumatealequipo {
  margin: 5rem;
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
}

.sumatealequipo h3 {
  margin: 2rem;
  padding-bottom: 3rem;
}

.sumatealequipo span {
  margin: 2rem 0;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.sumatealequipo img {
  height: 300px;
  width: 500px;
}

.sumatealequipo p {
  text-align: justify;
}

@media only screen and (max-width: 500px) {
  .contactanosintro {
    margin: 2rem;
  }
  .contactanosintro div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contactanosintro h3 {
    margin: 2rem;
  }
  .contactanosintro p {
    padding-top: 1rem;
  }
  .contactanosintro img {
    width: 300px;
    height: 250px;
    margin-left: 0;
    padding-top: 2rem;
  }
  .formContacto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 1rem;
    padding: 1rem;
  }
  .formContacto fieldset {
    padding: 1rem 2rem;
  }
  .sumatealequipo {
    margin: 3rem;
    margin-bottom: 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sumatealequipo h3 {
    padding-bottom: 1rem;
  }
  .sumatealequipo img {
    height: 250px;
    width: 350px;
  }
}

.banner__servicios {
  width: 100%;
  height: 300px;
  background-image: url(https://static.twentyoverten.com/5c3540f445d9625df1669e12/01aHPyevRib/iStock-528474010.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
}

.banner__servicios h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px black;
}

.banner__servicios h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
  text-shadow: 1px 1px 2px black;
}

.introtiposeguros {
  margin: 4rem 0 3rem 2rem;
}

.introtiposeguros h3 {
  padding: 1rem;
}

.introtiposeguros p {
  margin: 3rem 0 5rem 2rem;
}

.tiposseguros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-bottom: 2rem;
  margin-top: 50px;
}

.tiposseguros img {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

.tiposseguros p {
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.mascoberturas {
  margin: 2rem;
}

.mascoberturas h3 {
  padding: 2rem 0;
}

.mascoberturas p {
  padding: 1rem;
  text-align: justify;
}

.mascoberturas span {
  padding: 1rem;
  text-align: justify;
}

.mascoberturas__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  margin-bottom: 100px;
}

.mascoberturas__grid img {
  height: 300px;
  width: 400px;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .introtiposeguros {
    margin: 2rem;
  }
  .tiposseguros {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
  .tiposseguros img {
    width: 150px;
  }
  .mascoberturas__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mascoberturas__grid img {
    padding-top: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */