* {
    margin: 0;
    padding: 0;
}
$subtitulo: 'WindSong', cursive;
$titulo: 'Yeseva One', cursive;

.tituloIndex {
    margin: 5rem 0;
    text-align: center;  

    h1 {
        font-family: $titulo;
        font-size: 3rem;
    }

    h2 {
        font-family: $subtitulo;
    }
}
h3 {
    font-family: $titulo;
    
}
.mapa {
    margin:1rem 0 1rem 3rem;

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
    p {
        text-align: justify;
        padding-right: 3rem;
    }
}