* {
  margin: 0;
  padding: 0;
}

.banner__servicios {
  width: 100%;
  height: 300px;
  background-position: bottom;
  background-image: url(../media/banners/servicios.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
  -webkit-box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
          box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
}

.banner__servicios h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #1d1d1d;
  -webkit-text-stroke: 0.2px black;
}

.banner__servicios h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke: 0.1px black;
}

.banner__quienesSomos {
  width: 100%;
  height: 300px;
  background-position: bottom;
  background-image: url(../media/banners/quienesSomos.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
  -webkit-box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
          box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
  background-position: 0 27%;
}

.banner__quienesSomos h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #1d1d1d;
  -webkit-text-stroke: 0.2px black;
}

.banner__quienesSomos h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke: 0.1px black;
}

.banner__contacto {
  width: 100%;
  height: 300px;
  background-position: bottom;
  background-image: url(../media/banners/contacto.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
  -webkit-box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
          box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
}

.banner__contacto h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #1d1d1d;
  -webkit-text-stroke: 0.2px black;
}

.banner__contacto h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke: 0.1px black;
}

.banner__companias {
  width: 100%;
  height: 300px;
  background-position: bottom;
  background-image: url(../media/banners/companias.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
  -webkit-box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
          box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
  background-position: center center;
}

.banner__companias h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #1d1d1d;
  -webkit-text-stroke: 0.2px black;
}

.banner__companias h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke: 0.1px black;
}

.banner__home {
  width: 100%;
  height: 300px;
  background-position: bottom;
  background-image: url(../media/banners/home.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
  position: relative;
  -webkit-box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
          box-shadow: inset 0px -10px 5px 0px rgba(22, 22, 22, 0.34), inset 0px 5px 5px 0px rgba(22, 22, 22, 0.45);
  background-position: 0 21%;
}

.banner__home h1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "Yeseva One", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #1d1d1d;
  -webkit-text-stroke: 0.2px black;
}

.banner__home h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: whitesmoke;
  font-family: "WindSong", cursive;
  padding: 2px;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke: 0.1px black;
}

.tituloIndex {
  margin: 5rem 0;
  text-align: center;
}

.tituloIndex h2 {
  font-family: "Yeseva One", cursive;
  font-size: 3rem;
}

.tituloIndex h3 {
  font-family: "WindSong", cursive;
}

h3 {
  font-family: "Yeseva One", cursive;
  margin: 1rem;
}

.mapa {
  margin: 3rem 0 1rem 4rem;
}

.mapa div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.mapa p {
  text-align: justify;
  padding-right: 3rem;
  padding-top: 2rem;
}

.mapa h3 {
  padding-top: 5rem;
}

.opiniones {
  margin: 4rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  /*cada opinion*/
}

.opiniones article {
  padding: 1rem;
  background-color: #E2EAFC;
  position: relative;
  -webkit-box-shadow: -1px -6px 9px 0px rgba(138, 122, 153, 0.71), inset 0px -5px 5px 0px rgba(71, 74, 96, 0.23);
          box-shadow: -1px -6px 9px 0px rgba(138, 122, 153, 0.71), inset 0px -5px 5px 0px rgba(71, 74, 96, 0.23);
}

.opiniones h4 {
  font-family: "Yeseva One", cursive;
  text-align: center;
  padding-top: 1rem;
}

.opiniones p {
  padding: 1rem;
  text-align: justify;
}

.opiniones p:hover {
  font-size: 20px;
}

.estrellita {
  margin: 0 38%;
  color: grey;
  opacity: 80%;
}

.divisor {
  width: 200px;
  display: block;
  margin: auto;
}

.experienciaRubro {
  margin: 2rem;
  /*line-height = interlineado*/
}

.experienciaRubro h3 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

.experienciaRubro p {
  padding: 1rem 2rem;
  text-align: justify;
  line-height: 2;
}

footer {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(35%, rgba(226, 234, 252, 0.925105)), to(#abc4ff));
  background: linear-gradient(180deg, white 0%, rgba(226, 234, 252, 0.925105) 35%, #abc4ff 100%);
  padding: 2rem;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

footer section {
  padding-top: 2rem;
}

footer span {
  font-size: 15px;
}

footer p {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 15px;
}

.horarios p {
  text-align: center;
}

/*MEDIA QUERIES*/
/*celulares*/
@media only screen and (max-width: 600px) {
  .logoNav {
    width: 200px;
  }
  .banner__servicios {
    height: 200px;
    background-position: center;
    background-attachment: initial;
  }
  .banner__servicios h2 {
    font-size: 20px;
  }
  .banner__quienesSomos {
    height: 200px;
    background-position: center;
    background-attachment: initial;
  }
  .banner__quienesSomos h2 {
    font-size: 20px;
  }
  .banner__contacto {
    height: 200px;
    background-position: center;
    background-attachment: initial;
  }
  .banner__contacto h2 {
    font-size: 20px;
  }
  .banner__companias {
    height: 200px;
    background-position: center;
    background-attachment: initial;
  }
  .banner__companias h2 {
    font-size: 20px;
  }
  .banner__home {
    height: 200px;
    background-position: center;
    background-attachment: initial;
  }
  .banner__home h2 {
    font-size: 20px;
  }
  .mapa {
    margin: 2rem 0;
  }
  .mapa div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mapa p {
    padding: 1rem;
  }
  .mapa h3 {
    padding-top: 2rem;
  }
  .tituloIndex {
    margin: 2rem 0;
  }
  .tituloIndex h2 {
    font-size: 2rem;
  }
  .tituloIndex h3 {
    font-size: 1.2rem;
  }
  h3 {
    text-align: center;
  }
  .experienciaRubro {
    margin: 1rem;
  }
  .experienciaRubro h3 {
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .experienciaRubro p {
    padding: 1rem;
  }
  .mapagoogle {
    width: 100%;
    height: 70%;
  }
  .opiniones {
    margin: 2rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .opiniones article {
    margin: 0.5rem;
  }
  .estrellita {
    margin: 0 33%;
  }
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  footer img {
    display: none;
  }
  .datossasha {
    display: none;
  }
}

/*tablets*/
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .logoNav {
    width: 250px;
  }
  .banner__servicios {
    height: 250px;
    background-position: center center;
    background-attachment: initial;
  }
  .banner__servicios h2 {
    font-size: 20px;
  }
  .banner__quienesSomos {
    height: 250px;
    background-position: center center;
    background-attachment: initial;
  }
  .banner__quienesSomos h2 {
    font-size: 20px;
  }
  .banner__contacto {
    height: 250px;
    background-position: center center;
    background-attachment: initial;
  }
  .banner__contacto h2 {
    font-size: 20px;
  }
  .banner__companias {
    height: 250px;
    background-position: center center;
    background-attachment: initial;
  }
  .banner__companias h2 {
    font-size: 20px;
  }
  .banner__home {
    height: 250px;
    background-position: center center;
    background-attachment: initial;
  }
  .banner__home h2 {
    font-size: 20px;
  }
  .mapa {
    margin: 2rem 0;
  }
  .mapa div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mapa p {
    padding: 1rem;
  }
  .mapa h3 {
    padding-top: 2rem;
  }
  .tituloIndex h2 {
    font-size: 3rem;
  }
  .tituloIndex h3 {
    font-size: 2rem;
  }
  h3 {
    text-align: center;
  }
  .experienciaRubro {
    margin: 1rem;
  }
  .experienciaRubro h3 {
    padding-left: 0;
  }
  .experienciaRubro p {
    padding: 1rem;
  }
  .mapagoogle {
    padding-left: 1rem;
    /* width: 700px;*/
    height: 400px;
  }
  .opiniones {
    margin: 2rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .opiniones article {
    margin: 0.5rem;
  }
  .estrellita {
    margin: 0 44%;
  }
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  footer img {
    display: none;
  }
  .datossasha {
    display: none;
  }
}

/*computadoras*/
@media only screen and (min-width: 901px) {
  h3 {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  h3:hover {
    font-size: 35px;
  }
  span:hover {
    font-size: 20px;
  }
  h4 {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  h4:hover {
    font-size: 30px;
  }
  footer p:hover {
    font-size: 20px;
  }
  h3 {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  h3:hover {
    font-size: 35px;
  }
  span:hover {
    font-size: 20px;
  }
  h4 {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  h4:hover {
    font-size: 30px;
  }
  footer p:hover {
    font-size: 20px;
  }
}

.introduccion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 3em;
  grid-column-gap: 2em;
}

.introduccion img {
  width: 500px;
  height: 300px;
  margin: 0;
  padding-right: 0;
  padding-left: 150px;
}

.introduccion p {
  text-align: justify;
  padding: 4rem;
}

.productorseguro {
  margin: 3em;
  padding: 2rem 0;
}

.productorseguro h3 {
  margin: 2em;
}

.productorseguro p {
  margin: 0 2em 4em 4em;
  text-align: justify;
  padding-right: 2em;
}

.videoYt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 150px;
  width: 80%;
  height: 600px;
}

.formacion {
  margin: 5rem;
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
}

.formacion h3 {
  margin: 3rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.formacion span {
  margin: 3rem 0 3rem 3rem;
  padding-right: 2rem;
}

.formacion img {
  height: 300px;
  width: 500px;
}

.formacion p {
  text-align: justify;
}

/*MEDIA QUERIES*/
/*CELULARES*/
@media only screen and (max-width: 600px) {
  .introduccion {
    margin: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .introduccion p {
    padding: 1rem;
  }
  .introduccion img {
    display: block;
    margin: auto;
    padding-left: 0;
    height: 230px;
    width: 300px;
  }
  .productorseguro {
    margin: 1rem;
    padding: 2rem 0;
  }
  .productorseguro h3 {
    margin: 2rem 0;
  }
  .productorseguro p {
    margin: 0 1em 4em 1em;
    padding-right: 0;
  }
  .videoYt {
    margin-left: 2rem;
    height: 300px;
  }
  .formacion {
    margin: 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .formacion h3 {
    margin: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .formacion img {
    height: 150px;
    width: 250px;
  }
  .formacion span {
    margin: 2rem 0;
    padding-right: 0;
  }
}

/*TABLETS*/
.companias1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-bottom: 2rem;
  margin-top: 50px;
}

.companias1 img {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

.companias1 p {
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.promo1 {
  margin: 5rem;
}

.promo1 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.promo1 h3 {
  margin: 3rem 0;
  padding-top: 2rem;
}

.promo1 img {
  height: 300px;
  width: 400px;
  margin-left: 10%;
}

.promo1 p {
  padding-top: 3rem;
  text-align: justify;
}

.promo2 {
  margin: 5rem;
  padding-bottom: 100px;
}

.promo2 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.promo2 h3 {
  margin: 2rem 0;
  padding-top: 2rem;
}

.promo2 img {
  height: 300px;
  width: 350px;
  display: block;
  margin: auto;
}

.promo2 p {
  padding-top: 3rem;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .companias1 {
    margin: 2rem 1rem;
    grid-column-gap: 1rem;
  }
  .companias1 img {
    width: 130px;
  }
  .promo1 {
    margin: 2rem;
  }
  .promo1 div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .promo1 img {
    margin-left: 0;
    height: 200px;
    width: 250px;
  }
  .promo2 {
    margin: 2rem;
    padding-bottom: 30px;
  }
  .promo2 div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .promo2 img {
    height: 250px;
    width: 250px;
  }
  .promo2 p {
    padding-bottom: 2rem;
  }
}

.contactanosintro {
  margin: 5rem;
}

.contactanosintro article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contactanosintro h3 {
  margin: 3rem 0 2rem;
  padding-top: 2rem;
}

.contactanosintro img {
  height: 300px;
  width: 400px;
  margin-left: 30%;
}

.contactanosintro p {
  padding-top: 2rem;
  text-align: justify;
  padding-bottom: 10px;
}

.formContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 3rem;
  padding: 2rem;
}

.formContacto input {
  margin: 1rem 0;
}

.formContacto legend {
  font-family: "Yeseva One", cursive;
}

.formContacto form {
  background-color: #E2EAFC;
}

.formContacto fieldset {
  padding: 2rem 4rem;
}

.sumatealequipo {
  margin: 5rem;
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
}

.sumatealequipo h3 {
  margin: 2rem;
  padding-bottom: 3rem;
}

.sumatealequipo span {
  margin: 2rem 0;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.sumatealequipo img {
  height: 300px;
  width: 500px;
}

.sumatealequipo p {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .contactanosintro {
    margin: 2rem;
  }
  .contactanosintro article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contactanosintro h3 {
    margin: 2rem;
  }
  .contactanosintro p {
    padding-top: 1rem;
  }
  .contactanosintro img {
    width: 250px;
    height: 200px;
    margin-left: 0;
    padding-top: 2rem;
  }
  .formContacto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 0 3rem 0;
    padding: 0;
  }
  .formContacto input {
    margin: 0.5rem;
  }
  .formContacto fieldset {
    padding: 0;
  }
  .sumatealequipo {
    margin: 1rem;
    margin-bottom: 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sumatealequipo h3 {
    padding-bottom: 1rem;
  }
  .sumatealequipo img {
    padding-top: 2rem;
    height: 200px;
    width: 250px;
  }
}

.introtiposeguros {
  margin: 4rem 0 3rem 2rem;
}

.introtiposeguros h3 {
  padding: 1rem;
}

.introtiposeguros p {
  margin: 3rem 0 5rem 2rem;
}

.tiposseguros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-bottom: 2rem;
  margin-top: 50px;
}

.tiposseguros img {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

.tiposseguros p {
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/*ponerlo solo en media querie
.textoHover {
    position: relative;
    width: 100%;
}
.textoHover:hover .overlay{
    opacity:0.8;
}
.overlay {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    transition: .5s ease;
    background-color: #A98CDA;

    li {
        color: white;
        font-size: 20px;
        position: relative;
        text-align: center;
        padding-top: 15px;
        list-style: none;
        opacity: 1;
    }
    p {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
  } */
.mascoberturas {
  margin: 2rem;
}

.mascoberturas h3 {
  padding: 2rem 0;
}

.mascoberturas p {
  padding: 1rem;
  text-align: justify;
}

.mascoberturas span {
  padding: 1rem;
  text-align: justify;
}

.mascoberturas__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  margin-bottom: 100px;
}

.mascoberturas__grid img {
  height: 300px;
  width: 400px;
  display: block;
  margin: auto;
}

/*solo en media queries alta
.zoom {
    transition: transform .2s;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  }*/
@media only screen and (max-width: 600px) {
  .introtiposeguros {
    margin: 1rem;
  }
  .introtiposeguros p {
    margin: 3rem 1rem;
    text-align: justify;
  }
  .tiposseguros {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
  .tiposseguros img {
    width: 130px;
  }
  .mascoberturas {
    margin: 1rem;
  }
  .mascoberturas p {
    text-align: left;
  }
  .mascoberturas span {
    text-align: left;
  }
  .mascoberturas__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 70px;
  }
  .mascoberturas__grid img {
    padding-top: 3rem;
    width: 300px;
    height: 250px;
  }
}

@media only screen and (min-width: 901px) {
  .zoom {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .zoom:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  .textoHover {
    position: relative;
    width: 100%;
  }
  .textoHover:hover .overlay {
    opacity: 0.8;
  }
  .overlay {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: #A98CDA;
  }
  .overlay li {
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    padding-top: 15px;
    list-style: none;
    opacity: 1;
  }
  .overlay p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */